<div class="col-xs-6 col-xs-offset-3">
  <a href="#" class="commentLink"><h3>>Previous Comments</h3></a>
  <hr>

  <div class="col-xs-12">
    <% if @issue.comments.length == 0 %>
      <div class="issueComments" hidden>
        <p>None</p>
      </div>
    <%else %>
      <% @issue.comments.sort_by(&:created_at).reverse.each do |comment| %>
        <div class="issueComments" hidden>
          <div class="commentframe">
            <p><%= comment.content.html_safe %></p>
            <p style="text-align:right;">Author: <%= Profile.find(comment.author_id).user_name %></p>
            <p style="text-align:right;">At: <%= ApplicationHelper::convert_to_readable_time( comment.created_at ) %></p>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
<div class="col-xs-6 col-xs-offset-3 frame">
  <h2>New Comment</h2>
  <%= form_for [current_user.profile, @project, @issue, @comment] do |f| %>
    <%= f.label :content, class: "label label-default" %>
    <%= f.text_area :content, class: "formarea", placeholder: "You are able to use HTML in here." %>
    <%= f.submit "New Comment", class: "btn btn-primary right", style: "text-align:right;" %>
  <%end%>
</div>
