<%= render "layouts/errors", object: @issue %>

<div class="col-xs-8 col-xs-offset-2 form">
  <h1>New Issue</h1>
  <%= form_for [current_user.profile,@project,@issue] do |f| %>
    <div style="text-align:right;">
      <%= f.select :issue_type, ['Bug', 'Task'], { }, class: "issueType" %>
      <%= f.select :severity, ['Very Important', 'Important', 'Not Important'], { }, class: "issueType" %>
      <%= f.select :profile_id, @project.profiles.all.collect{ |p| [p.user_name, p.id ] }, { }, class: "issueType" %>

    </div>
    <%= f.label :content, class: "label label-default" %> <br>
    <div class="bugdesc">
      <textarea name="content_bug" class="formarea", placeholder="A bug contains the following five main parts:

1. Summary line (short, sweet, summation of the problem)
2. The Actual Result (a description of what happened; the problem)
3. The Expected Result (what you thought should happen instead of the problem)
4. Steps to Replicate (how someone else can make the problem happen too)

Make sure to select the severity and user this bug should go to above, in the dropdowns.

Use the input fields below to link any images or video links.

(You can write HTML in here.)" ></textarea> <br>
    </div>
    <div class="taskdesc" hidden>
      <textarea class="formarea", name="content_task" placeholder="Tasks should be as descriptive as they need to be. Try to give the person who will be working on the task as much information as possible to complete the task to the quality you are looking for.

Use outside resources to give more information, such as concept art, videos, examples, or screenshots.

Make sure to select the severity and user this task should go to above, in the dropdowns.

Use the input fields below to link any images or video links.

(You can write HTML in here.)" ></textarea> <br>
    </div>
    <div class="youtubes">
      <div class="youtubediv">
        <input type="text" name="youtubes" style="margin:0px;width:75%;" placeholder="www.youtube.com/linkaddress">
        <button type="button" class="btn-small-round btn btn-primary" id="youtubes" name="button">+</button>
      </div>
    </div>
    <div class="imgurs">
      <div class="imgurdiv">
        <input type="text" name="imgurs" style="margin:0px;width:75%;" placeholder="www.imgur.com/linkaddress">
        <button type="button" class="btn-small-round btn btn-primary" id="imgurs" name="button">+</button>
      </div>
    </div>
    <div style="text-align:right;">
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  <%end%>
</div>
