
<div class="col-xs-10 col-xs-offset-1">
  <h1><%= ApplicationHelper::limit_chars( @issue.content, 25 ) %></h1>
  <% if @issue.severity == "Very Important" %>
    <h3><span class='label label-danger'><%= @issue.severity %></span></h3>
  <% elsif @issue.severity == "Important" %>
    <h3><span class='label label-warning'><%= @issue.severity %></span></h3>
  <% else %>
    <h3><span class='label label-success'><%= @issue.severity %></span></h3>
  <%end%>
  <div class="">
    <% if @issue.status == "Open" %>
      <h5 style="display:inline;margin:0;"><span class='label label-primary'><%= @issue.status %></span></h5>
    <% elsif @issue.status == "Closed" %>
      <h5 style="display:inline;margin:0;"><span class='label label-info'><%= @issue.status %></span></h5>
    <%end%>
    <% if @issue.profile_id == current_user.profile.id %>
      <h5 style="display:inline;margin:0;"><span class='label label-primary'>Owned by: You</span></h5>
    <% else %>
      <h5 style="display:inline;margin:0;"><span class='label label-info'>Owned by: <%= Profile.find( @issue.profile_id ) %></span></h5>
    <%end%>
    <div class="row" style="margin-left:1%; margin-top:12px;">
      <hr>
      <a href="#" class="commentLink">> Comment</a>
      <div class="issueComments" hidden>
        <% @issue.comments.each do |comment| %>
          <div class="commentframe">
            <p><%= comment.content %></p>
            <h6 style="text-align:right;">Author: <%= Profile.find(comment.author_id).user_name %></h6>
            <h6 style="text-align:right;">Posted On: <%= ApplicationHelper::convert_to_readable_time( comment.created_at ) %></h6>
          </div>
        <% end %>
        <div style="text-align:right;">
          <%= link_to "New", new_profile_project_issue_comment_path(current_user.profile, @project, @issue), class: "btn btn-primary" %>
        </div>
      </div>
      <hr>
    </div>
    <% if is_admin?(current_user, @project) %>
      <%= form_for [current_user.profile, @project, @issue] do |f| %>
        <%= f.submit "Delete", class: "btn btn-danger", data: {confirm: "This is permanent. Are you sure this Isssue has no use in the future?"} %>
      <% end %>
    <%end%>
    <% if current_user.profile.id == @issue.profile_id %>
      <div style="margin-right:0px;text-align:right;">
        <p>Transfer <% if @issue.issue_type == "Bug" %> "Bug" <%else%> "Task" <%end%> To:
        <%= form_for [current_user.profile, @project, @issue] do |f| %>
          <%= f.select :profile_id, @project.profiles.all.collect{ |p| [p.user_name, p.id ] }, { }, class: "issueType" %>
          <%= f.submit "Transfer", class: "btn btn-primary" %>
        <% end %>
        </p>
    </div>
  <%end%>
  </div>
  <div class="well" style="margin-top:12px;">
    <p>
      <%= @issue.content %>
    </p>

    <% links = ApplicationHelper::convert_resources_to_links( @issue.resources ) %>
    <% links[0].each do |youtubes|  %>
      <% if ApplicationHelper::valid_youtube?( youtubes ) %>
      <div class="scalable scalable-16-9">
        <div class="scalable-content">
          <iframe src="<%= youtubes %>"></iframe>
        </div>
      </div>
      <%end%>
    <% end %>
    <% links[1].each do |imgur| %>
      <% if ApplicationHelper::valid_imgur?( imgur ) %>
        <a href="<%= imgur %>" style="margin-left: 7%;" target="_blank">
          <img src="<%= imgur %>" width="40%" max-width="40%" />
        </a>
      <%end%>
    <%end%>

  </div>
  <h5 style="text-align:right;">Created At:</h5>
  <h5 style="text-align:right;"><%= ApplicationHelper::convert_to_readable_time( @issue.created_at ) %></h5>
</div>
