<a href="" class="back-to-top"></a>


<div class="row">
  <div class="form">
    <div style="text-align:center;">
      <h1><%= @project.name %></h1>
    </div>
    <div style="text-align:right;margin-right:6%;">
      <% if is_admin?(current_user, @project)%>
        <%= link_to "Admin", profile_project_admin_index_path(current_user.profile, @project), id: "Admin", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-7 col-xs-offset-1">
    <div class="row" style="margin-bottom:12px;">
      <button class="btn btn-lg btn-danger issuebutton" id="bugButton">Bugs</button>
      <button class="btn btn-lg btn-warning" id="taskButton">Tasks</button>
      <div style="float:right;margin-right:4%;">
        <%= link_to "Add Issue", new_profile_project_issue_path(current_user.profile, @project), class: "btn btn-primary", id: "newIssueButton" %>
      </div>
      <hr>

    </div>
    <% if ApplicationHelper::issue_of_count(@my_issues, "Bug") == 0 %>
      <div class="Bugs">
        <h3>No Bugs</h3>
      </div>
    <%end%>
    <%if ApplicationHelper::issue_of_count(@my_issues, "Task") == 0 %>
      <div class="Tasks" hidden>
        <h3>No Tasks</h3>
      </div>
    <%end%>
    <% @my_issues.each do |i| %>
      <% if i.status == "Open" %>
        <% if i.issue_type == "Bug" %>
          <div class="Bugs">
            <%= render "issues/issueframe", object: i %>
          </div>
        <% else %>
          <div class="Tasks" hidden>
            <%= render "issues/issueframe", object: i %>
          </div>
        <%end%>
      <%end%>
    <%end%>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-0">
      <h2><a href="#" class="projectUsersLink" style="margin-left:4%;">>Users</a></h2>
      <div class="projectUsers">
        <% @project.profiles.each do |pr| %>
          <p class="form">
            <% if is_admin?(User.find(pr.user_id), @project) %>
              <span class="danger-text">[Admin]</span> <%=User.find(pr.user_id).email%> (<%= pr.user_name %>)
            <%else%>
              <%=User.find(pr.user_id).email%> (<%= pr.user_name %>)
            <%end%>
          </p>
        <%end%>
      </div>
    </div>
  </div>
</div>
