
<div class="row">
  <div class="form" style="text-align:center;">
    <h1><%= @project.name %></h1>
    <% if is_admin?(current_user, @project) %>
      <h6 class="danger-text">Admin: You</h6>
    <%else%>
      <h6 class="danger-text">Admin: <%= User.find( @project.admin_id ).email %></h6>
    <%end%>
  </div>

  <div class="col-xs-1 col-xs-offset-10">
    <% if is_admin?(current_user, @project)%>
      <%= link_to "Admin", profile_project_admin_index_path(current_user.profile, @project), id: "Admin", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-7 col-xs-offset-1">
    <div class="row">
      <h2 style="float:left;margin:11px;">Bugs / Tasks</h2> <div style="float:left;margin:11;">
      <%= link_to "Add", new_profile_project_issue_path(current_user.profile, @project), class: "btn btn-primary" %> </div>
    </div>
    <div class="row">
      <% @my_issues.each do |i| %>
        <% if i.severity == "Very Important" %>
          <div class="issue_form_very_important">
            <h3><%= ApplicationHelper::limit_chars( i.content, 35 ) %></h3>
          </div>
        <%elsif i.severity == "Important" %>
          <div class="issue_form_important">
            <h3><%= ApplicationHelper::limit_chars( i.content, 35 ) %></h3>
          </div>
        <%elsif i.severity == "Not Important" %>
          <div class="issue_form_not_important">
            <h3><%= ApplicationHelper::limit_chars( i.content, 35 ) %></h3>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
  <div class="col-xs-3 col-xs-offset-0">
    <h2>Users</h2>
    <% @project.profiles.each do |pr| %>
      <p class="form">
        <% if is_admin?(User.find(pr.user_id), @project) %>
          <span class="danger-text">[Admin]</span> <%=User.find(pr.user_id).email%> (<%= pr.user_name %>)
        <%else%>
          <%=User.find(pr.user_id).email%> (<%= pr.user_name %>)
        <%end%>
      </p>
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row form">

    </div>
  </div>
</div>
